{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
    <section class="note-list">
        {% for note in notes %}
            <article class="note">
                <h2 class="note-title switch-display-trigger">{{ note.title }}</h2>
                <div class="note-content">{{ note.content }}</div>
            </article>
        {% endfor %}
    </section>
{% endblock %}
