body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.max-width-m {
    max-width: 400px;
}

.main-content {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1em;
}

.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}