body {
    font-family: 'Open Sans', sans-serif;
}

.max-width-m {
    max-width: 400px;
}

.main-content {
    position: relative;
}

.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}