.navigation {
    padding: 0.5rem;
    border-bottom: rgba(0, 0, 0, 0.5) solid 1px;
}

.navigation-link {
    text-decoration: none;
    color: darkslateblue;
    font-weight: bold;
}

.navigation-link:visited {
    color: darkslateblue;
}