.navigation {
    padding: 0.5rem;
    border-bottom: darkslateblue solid 2px;
}

.navigation-link {
    text-decoration: none;
    color: darkslateblue;
    font-weight: bold;
}

.navigation-link:visited {
    color: darkslateblue;
}