.note-list {
    padding-left: 0.5rem;
}

.note-title {
    font-size: 1.25em;
}

.note-link {
    text-decoration: none;
    color: darkslateblue;
    font-weight: bold;
}

.note-link:visited {
    color: darkslateblue;
}