<section class="note-list">
    {% for note in notes %}
        <article class="note">
            <h2 class="note-title switch-display-trigger"><a class="note-link" href="{{ path('note_show', {'url': note.url}) }}">{{ note.title }}</a></h2>
            <div class="note-content hidden">{{ note.content }}</div>
        </article>
    {% endfor %}
</section>